/* 
 * Layout and structure and basic HTML styles
 */
 
@import "mixins.less";

html {
  height: 100%; /* So background will be full height on shorter pages */
}
body {
  font-size: @fontsize; 
  font-family: @fontfamily;
  line-height: 1.5em;
  background: url(../images/tile.png) repeat 0 0;
}