/* 
 * basic HTML styles
 */
 
@import "mixins.less";

body {
  font-size: @fontsize-main;
  line-height: 1.3em;
  letter-spacing: 0.03em;
  font-family: @fontfamily-main;
}

/* Links */
a {
  color: #ff3300;
}


/* headings */
h1, h2, h3 {
  .heading-large();
  padding: 0;
}
h1 {
  font-style:italic;
  font-size: 3.7em;
  line-height: 0.8em;
  color:#000;
  margin: 0;
  span {
    font-size:0.7em;
    font-weight:normal;
  }
}
h2 {
  font-size: 1.6em;
  line-height: 1.3em;
  margin:15px 0;
}
h3 {
  font-size: 1.2em;
  line-height: 1.3em;
  margin:15px 0;
  letter-spacing:0.01em;  
}
h4, h5, h6 {
  font-size: 1.1em;
  line-height: 1.3em;
  margin-top: 0.909em; /* Equivalent to 1em in the page's base font: 1 / 1.1 = 0.909 */
  margin-bottom: 0.909em;
  padding:0;
}