/*
 * General site livery styles
 */

@import "mixins.less";

/* Header */
.site-name {
  float: right;
  a {
    .image-background-link(243px, 45px, '../images/sitename.png');
    &:hover {
      .opacity(0.5);
    }
  }
}
.page-level-header {
  .wrapper {
    position: relative;
  }
  .menu {
    .inline-list();
    position: absolute;
    bottom: 5px;
    a, 
    a.active {
      color: #fff;
    }
  }
}